{% block title %}{{ 'e-Music : Consulter mon profil' }}{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
{% block body %}
    <div class="card card-body mt-4">

        <h4>Prenom : </h4>{{eleve.prenom}}
        <h4>Nom : </h4>{{eleve.nom}}
        <h4>Adresse : </h4>{{eleve.numrue}} {{eleve.rue}} 

        <h2 class="mt-4">Mes instruments : </h2>
        <h2 class="mt-4">Mes inscriptions : </h2>
    </div>
{% endblock %}
{% block footer %}<script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>{% endblock %}
