<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    body {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        background-color: #4a536b;
        color: #000
    }
</style>
<body>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9 mt-4">
            <div class="card o-hidden border-0 shadow-lg my-5 rouded">
                <div class="card-body p-0  rounded">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block rounded bg-light"><img src="./dist/img/eMusic_anybg.png" class="mt-4"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <div class="h5 text-gray-900 mb-4 fw-bold">Inscription</div>
                                </div>
                                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.mail) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                                }) }}


                                {{ form_row(registrationForm.nom) }}
                                {{ form_row(registrationForm.prenom) }}
                                <!--<div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Adresse mail</label>
                                    <input type="email" class="form-control rounded-pill" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <label for="nomInput" class="form-label">Nom</label>
                                    <input type="text" class="form-control rounded-pill" id="nomInput">
                                </div>
                                <div class="mb-3">
                                    <label for="prenomInput" class="form-label">Prénom</label>
                                    <input type="text" class="form-control rounded-pill" id="prenomInput">
                                </div>-->
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Adresse (numéro et rue)</label>
                                    <div class="row">
                                        {{ form_row(registrationForm.numRue) }}
                                        {{ form_row(registrationForm.rue) }}
                                    </div>

                                </div>
                                {{ form_row(registrationForm.copos) }}
                                {{ form_row(registrationForm.tel) }}
                                <!--<div class="mb-3">
                                    <label for="passwordInput" class="form-label">Mot de passe</label>
                                    <input type="password" class="form-control rounded-pill" id="passwordInput">
                                </div>
                                <div class="mb-3">
                                    <label for="verifPasswordInput" class="form-label">Vérification du mot de passe</label>
                                    <input type="password" class="form-control rounded-pill " id="verifPasswordInput" oninput="verifPasswordFunc()">
                                </div>-->
                                <button type="submit" class="btn rounded-pill w-100 text-white mt-2 mb-0" style="background-color: #ff9a8d;">Créer un compte</button>
                                <p class="mt-2 mb-0">
                                    Votre compte sera en attente de validation d'un administrateur.
                                </p>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function verifPasswordFunc() {
        let passwordInput = $('#passwordInput').val();
        let verifPasswordInput = $('#verifPasswordInput').val();

        if(passwordInput != verifPasswordInput) {
            $('#verifPasswordInput').removeClass('is-valid');
            $('#verifPasswordInput').addClass('is-invalid');
        } else {
            $('#verifPasswordInput').removeClass('is-invalid');
            $('#verifPasswordInput').addClass('is-valid');
        }


    };
    function trouverVilleAvecCodePostalFunc() {
        let codePostalInput = $('#registration_form_copos').val();

        $('#registration_form_ville').html('');
        $.ajax({
            type: "GET",
            url: "https://apicarto.ign.fr/api/codes-postaux/communes/"+codePostalInput,
            success: function (result) {
                for(let villeOrder = 0; villeOrder < result.length; villeOrder++) {
                    $('#registration_form_ville').append('<option value="'+result[villeOrder]['nomCommune']+'">'+result[villeOrder]['nomCommune']+'</option>');
                }
            }
        });
    }
</script>
<script src="./dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>