{% block title %}{{ 'e-Music : Consulter mon profil' }}{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-striped bg-white mt-2">
            <thead class="bg-black text-white">
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Type de l'instrument</th>
                <th scope="col">Marque</th>
            </tr>
            </thead>
            <tbody>
        {% for i in pInstruments %}
            <tr>
			    <td><a href="{{ path('instrumentConsulter', { 'id': i.id }) }}">{{ i.intitule }}</a></td>
                <td>{{ i.typeIntrument.libelle }}</td>
			    <td>{{i.marque.libelle}}</td>
            </tr>

        {% else %}
		<tr>
		    <td>Aucun instrument n'a été trouvé.</td>
		</tr>
        {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
{% block footer %}<script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>{% endblock %}