{% block title %}{{ 'e-Music : Consulter mon profil' }}{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
{% block body %}
    <div class="card card-body mt-4">

        {% for i in pInstruments %}

			<h4>Numéro de série : </h4><a href="{{ path('instrumentConsulter', { 'id': i.id }) }}">{{ i.numSerie }}</a>
			<h4>Date/Prix achat : </h4>{{i.dateAchat.format('d/m/Y')}} {{i.prixAchat}}
			<h4>Utilisation : </h4>{{i.utilisation}}
            <h4>Cheminage : </h4>{{i.cheminage}}

        {% else %}
		<tr>
		<td>Aucun instrument n'a été trouvé.</td>
		</tr>
        {% endfor %}


    </div>
{% endblock %}
{% block footer %}<script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>{% endblock %}