{% block title %}{{ 'e-Music : Consulter mon profil' }}{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
{% block body %}
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card card-body border-0 shadow-sm">
                <h4 class="fw-bold mb-0"><!--<img src="https://s2.qwant.com/thumbr/0x380/e/5/513f9c8d93fad421eaedf2ef7c9c62c6f33de0c4771214e85a0222e9500e02/default-profile-photo.jpg?u=https%3A%2F%2Fcvhrma.org%2Fwp-content%2Fuploads%2F2015%2F07%2Fdefault-profile-photo.jpg&q=0&b=1&p=0&a=0" width="60" class="me-3 rounded-circle shadow-sm">-->{{compte.prenom}} {{compte.nom}}</h4>
                <p class="mb-0 mt-1"><span class="badge bg-info rounded text-dark mb-0" style="background: rgba(0,0,0,0.3);">Eleve</span></p>
                <table class="table table-striped mt-3 mb-0">
                    <tbody>
                    {% if compte.eleve != null and  compte.eleve.responsable != null %}
                    <tr>
                        <td>Responsable</td>
                        <td>{{compte.eleve.responsable.prenom}} {{compte.eleve.responsable.nom}}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!--
            <div class="card shadow-none border-0 text-dark">
                <div class="card-header py-4" style="background: #EF4800;color: #000">
                    <h4 class="mb-0">
                        {{compte.prenom}} {{compte.nom}}
                        <span class="badge rounded text-dark  float-end" style="background: rgba(0,0,0,0.3);">Eleve</span>
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped mb-0">
                        <tbody>
                        {% if compte.eleve != null and  compte.eleve.responsable != null %}
                        <tr>
                            <td class="align-middle">Responsable </td>
                            <td class="align-middle">{{compte.eleve.responsable.prenom}} {{compte.eleve.responsable.nom}}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
        <div class="col-md-4">
            <div class="card card-body border-0 shadow-sm">
                <h4 class="fw-bold mb-0">Inscriptions ({{ inscription|length }})</h4>
                <!--<div class="card card-body shadow-sm mt-2 bg-light">(i) Prochain cours : Initiation violon (dans 3 jours)</div>-->
                <ul class="list-group mt-2">
                    {% for courOrder in inscription %}
                    <li class="list-group-item">{{courOrder.libelle}} ({{courOrder.date_inscription|date('d/m/Y')}})</li>
                    {% endfor %}
                </ul>
            </div>
            <!--<div class="card shadow-none border-0">
                <div class="card-header py-4" style="background: #EF4800;color: #000">
                    <h4 class="mb-0">
                        Mes cours
                        <span class="badge rounded text-dark float-end" style="background: rgba(0,0,0,0.3);">{{ inscription|length }}</span>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="list-group">
                    {% for courOrder in inscription %}
                        <a href="{{ path('coursConsulter', { 'id': courOrder.courID }) }}" class="list-group-item list-group-item-action bg-light" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-0">{{courOrder.libelle}}</h5>
                                <p class="badge" style="background: #EF4800;color: #000">{{courOrder.date_inscription|date('d/m/Y')}}</<p>
                            </div>

                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>-->
        </div>
        <div class="col-md-4">
            <!--{% if compte.eleve != null and  compte.eleve.responsable != null %}
                <div class="card shadow-none border-0">
                    <div class="card-header py-4" style="background: #EF4800;color: #000">
                        <h4 class="mb-0">
                            Mes prêts d'instruments
                            <span class="badge rounded text-dark float-end" style="background: rgba(0,0,0,0.3);">{{ pretsInstruments|length }}</span>
                        </h4>

                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            {% for pretInstrumentOrder in pretsInstruments %}
                                <a href="{{ path('instrumentConsulter', { 'id': pretInstrumentOrder.instrumentID }) }}" class="list-group-item list-group-item-action bg-light" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-0">{{pretInstrumentOrder.libelleInstrument}} #{{pretInstrumentOrder.num_serie}}</h5>
                                        <p class="badge" style="background: #EF4800;color: #000">Date de prêt : N/A</<p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}-->
        </div>
    </div>
    <br><br><br>
    <!--
    <div class="card card-body mt-4">
        <h4>Prenom : </h4>{{compte.prenom}}

        <h4>Nom : </h4>{{compte.nom}}
        <hr>
        <h1>(Mise en forme non contractuel)</h1>

        <h4>Type :</h4>
        {% if compte.eleve != null %}
            est eleve<br>
        {% elseif compte.professeur != null %}
            est professeur<br>
        {% endif %}
        {% if compte.eleve != null and  compte.eleve.responsable != null %}
        <h4>Prenom du responsable : </h4>{{compte.eleve.responsable.prenom}}
        <h4>Nom du responsable : </h4>{{compte.eleve.responsable.nom}}

        {% endif %}
        <h4>Cours :</h4>
        {% for courOrder in inscription %}
        <b>Date inscription :</b> {{courOrder.date_inscription|date('d/m/Y')}}
            <b>Libelle cour :</b>  {{courOrder.libelle}}
            <br>
        {% endfor %}
        {% if compte.eleve != null and  compte.eleve.responsable != null %}
            <hr>
            <h4>Pret instruments :</h4>
            {% for pretInstrumentOrder in pretsInstruments %}
                <b>Nom de l'instrument : </b> {{pretInstrumentOrder.libelleInstrument}}
                <b>(num serie) : </b>{{pretInstrumentOrder.num_serie}}
                <br>
            {% endfor %}
        {% endif %}
    </div><br>-->
{% endblock %}
{% block footer %}<script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>{% endblock %}