{% block title %}{{ 'e-Music : Consulter mon profil' }}{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
{% block body %}
    <div class="table-responsive">
        <table class="table table-striped bg-white mt-2">
            <thead class="bg-black text-white">
            <tr>
                <th scope="col">Nom</th>
				<th scope="col">Prenom</th>
            </tr>
            </thead>
            <tbody>
		{% for p in pProfesseurs %}
		<tr>
			<td><a href="{{ path('professeurConsulter', { 'id': p.id }) }}">{{ p.nom }}</a></td>
			<td>{{ p.prenom }}</a></td>

	{% else %}
		<tr>
		<td>Aucun profeseur n'a été trouvé.</td>
		</tr>
	{% endfor %}
 </tbody>
        </table>
    </div>
{% endblock %}
{% block footer %}<script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>{% endblock %}