<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<style>
    body {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        background-color: #ECEDED;
        color: #000
    }

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark text-dark py-4" style="background-color: #4a536b;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <div class="dropup-center dropdown">
                    <div class="dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.prenom }} {{ app.user.nom }} <span class="badge bg-info rounded text-dark">Eleve</span>{% endif %}
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ path('modifierInformationCompte') }}">Modifier mes informations</a></li>
                        <li><a class="dropdown-item" href="#">Action two</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item {% if app.request.attributes.get('_route') == '_RouteName' %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item border-start">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'instrumentLister' %}active{% endif %}" href="{{ path('instrumentLister') }}">Les instruments</a>
                </li>
                <li class="nav-item border-start ">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'listerCours' %}active{% endif %}" href="{{ path('listerCours') }}">Les cours</a>
                </li>
                <li class="nav-item border-start ">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'routeAdherentConsultationInformation' %}active{% endif %}" href="{{ path('routeAdherentConsultationInformation', { 'id': 2 }) }}">Information Loiseau Benjamin (mode dev)</a>
                </li>
                <li class="nav-item border-start">
                    <a class="nav-link  {% if app.request.attributes.get('_route') == 'routeAdherentConsultationInformation' %}active{% endif %}" href="{{ path('routeAdherentConsultationInformation', { 'id': 1 }) }}">Information LEMOINE Julien (mode dev)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{% block footer %}{% endblock %}
</body>
</html>