{% block title %}{{ 'e-Music : Lister les cours' }}{% endblock %}
{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">{% endblock %}
{% block body %}

    <div class="table-responsive" style="padding-left: 350px; padding-right: 350px;">
        <table class="table table-striped bg-white mt-2">
            <thead class="bg-black text-white">
            <tr>
                <th scope="col">Nom du cours</th>
                <th scope="col">Professeur</th>
                <th scope="col">Age minimum</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for c in pCours %}
                <tr>
                    <td><a href="{{ path('consulterCours', { 'id': c.id }) }}" class="text-decoration-none">{{ c.libelle }}</a></td>
                    <td>{{c.professeur.compte.nom|upper}} {{c.professeur.compte.prenom}}</td>
                    <td>{{c.ageMini}} </td>
                    <td>{{c.date|date('d/m/Y')}} | {{c.heureDebut|date('H:i')}} - {{c.heureFin|date('H:i')}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucun cours n'a été trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
{% block footer %}<script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>{% endblock %}